/* intentionally left blank */
.button {
	-fx-padding: 5 22 5 22;
	-fx-background-radius: 10;
	-fx-background-color: #ffffff;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 11pt;
	-fx-text-fill: #000000;
}
.button:hover {
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;
}
.label-signin-header {
	-fx-font-size: 25pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: black;
}
.label-signin {
	-fx-font-size: 16pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: black;
}
.background {
	-fx-background-color: #ffffff;
}
.label {
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: black;
	-fx-opacity: 1.2;
}